extends layout

block content
	style.
		body{background: url(/images/skis.jpg) no-repeat center center fixed;background-size:cover;}


	.row
		.col-md-2
			| &nbsp;
		.col-md-8
			table.calendar
				thead
					th Sun
					th Mon
					th Tues
					th Wed
					th Thur
					th Fri
					th Sat
				tbody
					tr
						td 1 
						td 2
						td 3 
						td 4 
						td 5 
						td 6
						td 7 
					tr
						td 8
						td 9
						td 10 
						td 11
						td 12
						td 13
						td 14
					tr
						td 15 
						td 16
						td 17
						td 18
						td 19
						td 20
						td 21
					tr
						td 22 
						td 23
						td 24
						td 25
						td 26
						td 27
						td 28

		.col-md-2
			| &nbsp;
