extends layout

block content

	.panel-faq
		h2 Frequently Asked Questions
		ul
			li 
				a(href='#') What is the ski team
			li 
				a(href='#') Joining 
			li 
				a(href='#') Equipment
			li 
				a(href='#') NASTAR
			li 
				a(href='#') Home Races
			li 
				a(href='#') Away Races
			li 
				a(href='#') Post Season

	
	.panel-faq
		h2 What is needed to register?
		ul
			li Register with USSA
			li Register with SARA
			li Sign up for Bryce Ski Team


	.panel-faq
		h2 Q1. Where do we stay when we travel to other resorts for SARA races?</p>
		p It's really up to you where you want to stay, but we are in the process of putting together some traveling packages for each race, which would include things like where to stay and where to eat. </p>

	.panel-faq
		h2 Q2. Where do we meet before the race?</p>
		p We are in the process of figuring this out, however you should meet with you coach in a pre-determined location previous to the race. </p>

	.panel-faq
		h2 Q3. What time should we meet before the race begins?</p>
		p We are in the process of figuring this out, however you should roughly meet with your coach at least 15 minutes before course inspection. </p>

	.panel-faq
		h2 Q4. What happens if I miss course inspection?</p>
		p Try to avoid this at all costs, however if this does happen, please get together with your coach as soon as possible. </p>

	.panel-faq
		h2 Q5. What coaches are representing Bryce at the races?</p>
		p This will be dependent on how many racers are racing that day. </p>

