body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#000;
}

a {
  color: #00B7FF;
}

.panel-faq a, .panel-faq a:visited {
	color:#0099FF;
	text-decoration: none;
}

.panel-faq a:hover {
	color:#0099FF;
	text-decoration: underline;
}




.panel-faq {
	padding:10px;
	background: rgba(0, 0, 0, 0.8);
	border-radius:5px;
	color:#fff;
	margin-bottom:30px;
}
.panel-faq h2{
	color:lime;
	margin:0;
}
.blog-panel p{
	font-size:1.3em;
}
.blog-panel h2{
	border-bottom: solid 1px #ccc;
	padding-bottom:10px;
	margin-bottom:15px;
}

.panel2{
	padding: 10px;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.9);
	border-width: 0px;
}
.player-card{
	padding: 5px;
	border: solid 1px steelblue;
	margin-bottom: 20px;
	border-radius: 5px;
}
.avatar{
	height: 333px;
	width: 250px;
}

.calendar{
	width:100%;
}
table th {
	background-color:rgba(0,0,0,.9);
	margin:3px;
	color:#fff;
	text-align:center;
}
table tr {
	margin-top: 10px;
}
table td {
	background-color:rgba(0,0,0,.7);
	padding:5px;
	color:#eee;
	margin:3px;
	padding:3px;
	border: solid 5px rgba(0,0,0,0);
}

